* hardware_full_icp_bias_ngspice.cir
.option method=gear maxord=2 reltol=1e-4 abstol=1e-10 chgtol=1e-15
.param F_ICP=@@F_ICP@@
.param F_BIAS=@@F_BIAS@@
.param VICP_AC=@@VICP_AC@@
.param VBIAS_AC=@@VBIAS_AC@@
.param VBIAS_DC=@@VBIAS_DC@@
.param R_ICP_GEN=@@R_ICP_GEN@@
.param R_BIAS_GEN=@@R_BIAS_GEN@@
.param L_COIL_MATCH=@@L_COIL_MATCH@@
.param C_COIL_MATCH_OUT=@@C_COIL_MATCH_OUT@@
.param C_COIL_MATCH_IN=@@C_COIL_MATCH_IN@@
.param L_BIAS_MATCH=@@L_BIAS_MATCH@@
.param C_BIAS_MATCH_OUT=@@C_BIAS_MATCH_OUT@@
.param C_BIAS_MATCH_IN=@@C_BIAS_MATCH_IN@@
.param C_BLOCK_BIAS=@@C_BLOCK_BIAS@@
.param R_COIL_FEED=@@R_COIL_FEED@@
.param L_COIL_FEED=@@L_COIL_FEED@@
.param C_COIL_FEED=@@C_COIL_FEED@@
.param R_BIAS_FEED=@@R_BIAS_FEED@@
.param L_BIAS_FEED=@@L_BIAS_FEED@@
.param C_BIAS_FEED=@@C_BIAS_FEED@@
.param R_STAB_COIL=@@R_STAB_COIL@@
.param R_STAB_BIAS=@@R_STAB_BIAS@@

.param PL_GCOIL0=@@PL_GCOIL0@@
.param PL_KGCOIL=@@PL_KGCOIL@@
.param PL_LCOIL0=@@PL_LCOIL0@@
.param PL_G0=@@PL_G0@@
.param PL_KG=@@PL_KG@@
.param PL_CBP0=@@PL_CBP0@@
.param PL_CBG0=@@PL_CBG0@@
.param PL_CBNL=@@PL_CBNL@@
.param PL_VBSCALE=@@PL_VBSCALE@@
.param PL_KCOIL=@@PL_KCOIL@@
.param PL_KBIAS=@@PL_KBIAS@@
.param PL_TAU=@@PL_TAU@@

.include @@MODEL_INCLUDE@@

VICP ICP_SRC 0 SIN(0 {VICP_AC} {F_ICP})
RICPGEN ICP_SRC ICP_INT {R_ICP_GEN}
@@COIL_MATCH_BLOCK@@

R_COIL_FEED N_COIL_MATCH N_COIL_R {R_COIL_FEED}
L_COIL_FEED N_COIL_R ICP_COIL_P {L_COIL_FEED}
C_COIL_FEED ICP_COIL_P ICP_COIL_N {C_COIL_FEED}
R_COIL_RETURN ICP_COIL_N 0 1e-3

VMEAS_COIL ICP_COIL_P ICP_COIL_PORT 0

VBIAS BIAS_SRC 0 SIN({VBIAS_DC} {VBIAS_AC} {F_BIAS})
RBIASGEN BIAS_SRC BIAS_INT {R_BIAS_GEN}
@@BIAS_MATCH_BLOCK@@

R_BIAS_FEED N_BIAS_MATCH N_BIAS_R {R_BIAS_FEED}
L_BIAS_FEED N_BIAS_R BIAS_FEED {L_BIAS_FEED}
C_BIAS_FEED BIAS_FEED BIAS_N {C_BIAS_FEED}
C_BLOCK_BIAS BIAS_FEED BIAS_P {C_BLOCK_BIAS}
R_BIAS_RETURN BIAS_N 0 1e-3

VMEAS_BIAS BIAS_P BIAS_PORT 0

XPLASMA ICP_COIL_PORT ICP_COIL_N BIAS_PORT BIAS_N PLASMA_ICP_BIAS params: GCOIL0={PL_GCOIL0} KGCOIL={PL_KGCOIL} LCOIL0={PL_LCOIL0} G0={PL_G0} KG={PL_KG} CBP0={PL_CBP0} CBG0={PL_CBG0} CBNL={PL_CBNL} VBSCALE={PL_VBSCALE} KCOIL={PL_KCOIL} KBIAS={PL_KBIAS} TAU={PL_TAU}
R_STAB_COIL ICP_COIL_PORT ICP_COIL_N {R_STAB_COIL}
R_STAB_BIAS BIAS_PORT BIAS_N {R_STAB_BIAS}
R_BLEED_COIL ICP_COIL_P ICP_COIL_N 1e12
R_BLEED_BIAS BIAS_P BIAS_N 1e12

.tran @@TSTEP@@ @@TSTOP@@

.control
set wr_singlescale
set wr_vecnames
set filetype=ascii
run
wrdata @@OUTPUT_CSV@@ time v(icp_coil_p,icp_coil_n) i(vmeas_coil) v(bias_p,bias_n) i(vmeas_bias)
quit
.endc

.end
