* hardware_portable_icp_bias.cir
* Portable ICP+Bias circuit template (no behavioral source, no Q= capacitor).

.param F_ICP=@@F_ICP@@
.param F_BIAS=@@F_BIAS@@
.param VICP_AC=@@VICP_AC@@
.param VBIAS_AC=@@VBIAS_AC@@
.param VBIAS_DC=@@VBIAS_DC@@
.param R_ICP_GEN=@@R_ICP_GEN@@
.param R_BIAS_GEN=@@R_BIAS_GEN@@
.param L_COIL_MATCH=@@L_COIL_MATCH@@
.param C_COIL_MATCH_OUT=@@C_COIL_MATCH_OUT@@
.param C_COIL_MATCH_IN=@@C_COIL_MATCH_IN@@
.param L_BIAS_MATCH=@@L_BIAS_MATCH@@
.param C_BIAS_MATCH_OUT=@@C_BIAS_MATCH_OUT@@
.param C_BIAS_MATCH_IN=@@C_BIAS_MATCH_IN@@
.param C_BLOCK_BIAS=@@C_BLOCK_BIAS@@
.param R_COIL_FEED=@@R_COIL_FEED@@
.param L_COIL_FEED=@@L_COIL_FEED@@
.param C_COIL_FEED=@@C_COIL_FEED@@
.param R_BIAS_FEED=@@R_BIAS_FEED@@
.param L_BIAS_FEED=@@L_BIAS_FEED@@
.param C_BIAS_FEED=@@C_BIAS_FEED@@
.param R_STAB_COIL=@@R_STAB_COIL@@
.param R_STAB_BIAS=@@R_STAB_BIAS@@

VICP ICP_SRC 0 SIN(0 {VICP_AC} {F_ICP})
RICPGEN ICP_SRC ICP_INT {R_ICP_GEN}
@@COIL_MATCH_BLOCK@@

R_COIL_FEED N_COIL_MATCH N_COIL_R {R_COIL_FEED}
L_COIL_FEED N_COIL_R ICP_COIL_P {L_COIL_FEED}
C_COIL_FEED ICP_COIL_P ICP_COIL_N {C_COIL_FEED}
R_COIL_RETURN ICP_COIL_N 0 1e-3

VBIAS BIAS_SRC 0 SIN({VBIAS_DC} {VBIAS_AC} {F_BIAS})
RBIASGEN BIAS_SRC BIAS_INT {R_BIAS_GEN}
@@BIAS_MATCH_BLOCK@@

R_BIAS_FEED N_BIAS_MATCH N_BIAS_R {R_BIAS_FEED}
L_BIAS_FEED N_BIAS_R BIAS_FEED {L_BIAS_FEED}
C_BIAS_FEED BIAS_FEED BIAS_N {C_BIAS_FEED}
C_BLOCK_BIAS BIAS_FEED BIAS_P {C_BLOCK_BIAS}
R_BIAS_RETURN BIAS_N 0 1e-3

* Portable plasma placeholders (replace with your high-fidelity plasma coupling).
R_PLASMA_COIL ICP_COIL_P ICP_COIL_N 0.8
L_PLASMA_COIL ICP_COIL_P ICP_COIL_N 1.8u
R_PLASMA_BIAS BIAS_P BIAS_N 120
C_PLASMA_BIAS BIAS_P BIAS_N 42p
R_STAB_COIL ICP_COIL_P ICP_COIL_N {R_STAB_COIL}
R_STAB_BIAS BIAS_P BIAS_N {R_STAB_BIAS}

.tran @@TSTEP@@ @@TSTOP@@
.end
